---
http_interactions:
- request:
    method: get
    uri: https://data.cityofchicago.org/resource/7ia9-ayc2.json?$where=alderman%20LIKE%20%27%25Burke%25%27
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-App-Token:
      - ctUkzOunpr8Xa9hmlg3BS8rS8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Socrata-Requestid:
      - 4rmxsfgzoyhqxnj3rmosz3b4i
      Etag:
      - '"YWxwaGEuMTA4MTBfNl8zMDhfdUJPV0JwWmc3cWpmNGJBTFhvN0VsODk2RXMWNudkFhO9C_a_Idx7DsGNdYos5Q-gzip--gzip"'
      X-Soda2-Fields:
      - '["address","alderman","city","city_hall_address","city_hall_city","city_hall_phone","city_hall_phone_type","city_hall_state","city_hall_zipcode","email","location","location_address","location_city","location_state","location_zip","state","ward","ward_fax","ward_fax_type","ward_phone","ward_phone_type","website","website_description","zipcode"]'
      X-Soda2-Types:
      - '["text","text","text","text","text","text","text","text","number","text","point","text","text","text","text","text","number","text","text","text","text","text","text","text"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Thu, 28 Jan 2016 02:13:42 GMT
      X-Soda2-Secondary-Last-Modified:
      - Thu, 28 Jan 2016 02:13:42 GMT
      Last-Modified:
      - Thu, 28 Jan 2016 02:13:42 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
    body:
      encoding: ASCII-8BIT
      string: '[{"address":"2650 West 51st Street","alderman":"Edward M. Burke","city":"Chicago","city_hall_address":"121
        North LaSalle Street, Room 302","city_hall_city":"Chicago","city_hall_phone":"(312)
        744-3380","city_hall_state":"IL","city_hall_zipcode":"60602","email":"eburke@cityofchicago.org","location":{"type":"Point","coordinates":[-87.6911632994,41.8011472828]},"state":"IL","ward":"14","ward_fax":"(773)
        471-1648","ward_phone":"(773) 471-1414","website":"http://www.committeeonfinance.org/","zipcode":"60632"}]

'
  recorded_at: Tue, 29 May 2018 17:32:37 GMT
- request:
    method: get
    uri: https://data.cityofchicago.org/resource/cdmx-wzbz.json?$where=ward%20=%2014%20and%20creation_date%20%3E=%20%272018-05-01T00:00:00%27%20and%20creation_date%20%3C=%20%272018-05-31T00:00:00%27
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-App-Token:
      - ctUkzOunpr8Xa9hmlg3BS8rS8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application[...]
